@charset "UTF-8";

body {
  background: #dde6ed;
  color: #57575f;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "MSPGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.item {
  width:1000px;
  background-color: #EEE;
}

.side-bar {
  width:250px;
  height:270px;
  margin-left:50px;
  background-color:white;
}

.side-header{
  height:50px;
}


.side-content{
  margin-top:20px;
}

.side-header{
  background-color:#99FFFF;
}


.side-header img{
    max-width:50px;
    max-height:50px;

}

.side-post textarea{
  width:200px;
  height:75px;
  padding:0px;
  border:solid 1px #555555;
  resize:none;
  margin-top:20px;
  margin-bottom:20px;
}

.side-post input[type="submit"]{
  display:block;
  width:100px;
  float:right;
  background-color:#ccc;
  border:solid 1px #aaa;
  border-radius: 0.5em;        /* CSS3草案 */  
}

.content {
  margin-top:-270px;
  margin-left:400px;
  margin-right:50px;
  background-color:white;
}

.item-header{
  padding-top:40px;
  padding-bottom:20px;
}

.item-picture{
  margin-top:20px;
  margin-bottom:20px;
  border:solid 1px;
}

.item-header img{
    max-width:50px;
    max-height:50px;
}

.item-picture img{
  display:block;
  width:100%;
  height:100%;
}
span.post-date{
  text-align:right;
}

button.edit{
  float:right;
}
button.delete{
  float:right;
  margin-right:20px;
}


